<!-- This has been left intentionally empty -->
{% etxends "base.html.njk %}

{% block content %}
    <div>Thank you, {{ name }}</div>
    <a href="http://localhost:8000/top-fossils">Top Fossils</a>
{% endblock %}
